.card-container {
    display: flex;
    flex-wrap: wrap; /* Para permitir que los elementos se envuelvan si no caben en una sola línea */
    justify-content: space-between; /* Para distribuir los elementos horizontalmente */
  }
  
  .card {
    flex-basis: calc(33.33% - 20px); /* Ancho aproximado del 33.33% para cada tarjeta */
    margin-bottom: 20px;
  }